// if all the child elements are the floats thent the height collapses and this is why we use the clearFix hack!

@mixin clearFix {
  &::after {
    content: "";
    display: table; // standard version of clearFix property
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media queries Manager formatters
// 0 - 600px;       phone-device-screen
// 600px - 900px;   Tablet-device-screen
// 900px - 1200px;  tablet-device-screen-landscape
// 1200px- 1800px; which is our normal style

// 1800+            big-device-screen

@mixin phone-responsive {
  @media (max-width: 600px) {
    @content;
  }
}

// $breakpoint argument choices
// Phone
// tab-port
// tab-land
// big-desktop

// We are not gonna use the px as the default unit, that's because if the user changes the default font size in the browsers, then the media queries will not gonna work properly.

// rem, and ems in media queries are not gonna affected by the root font size, they are always just equal to the font size coming from the browser which is 1rem = 16px, and if the user changes it to something like 20px, then it will be just 20px, no matters what we have in our base font definitions.

// we are gonna use the ems here, because rems faild to work in some of the browsers.
// 1em = 16px;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
