.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &_content {
    height: 100%;
    width: 100%;
    // Object Fit, is another new property, this property makes the video to cover the entire element and the remaining part is clipped off!!
    object-fit: cover;
    // instead of working with the images, it works better with the HTML elements. Also, it works similar with the images, as we have did in the videos!
  }
}
