.u__center_text {
  text-align: center;
}

// if an inline block is nested into a div element, then it's treated as a text, so we can use the text-align: center; property.

.u__margin_bottom_small {
  margin-bottom: 1.5rem;
}
.u__margin_bottom_medium {
  margin-bottom: 4rem;
}
.u__margin_bottom_big {
  margin-bottom: 8rem;
}
.u__margin_top_big {
  margin-top: 8rem;
}
.u__margin_top_medium {
  margin-top: 2.7rem;
  margin-left: -2rem;
}
.u__margin_top_huge {
  margin-top: 10rem;
}
.u__padding_btn_small {
  padding: 1rem 4rem;
}
.u__padding_btn_big {
  padding: 1.5rem 4rem;
}
